.bg-oranje {
  background-color: rgba(242, 79, 17, 0.9) !important;
}

.achtergrond {
  z-index:-1;
  width:100%;  
  height:100%;  
  position:absolute;    
  background:transparent url("../img/achtergrond.jpg") repeat fixed 0% 0%;
  opacity: 15%;
  filter: grayscale(100%);
}

.containerCarousel {
  width: 400px;
  height: 380px;
}